<html lang="pt-br">
<head>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<h3>DADOS DA CONSULTA:</h3>
<h5> User Info:</h5>
<b>Nome: </b>{{name}}<br/>
<b>Email: </b>{{email}}<br/>
<b>Telefone: </b>{{phone}}<br/>
<hr/>
<h3>Doctor info:</h3>
<b>Dr Respons&aacutevel: </b>{{doctor_name}}<br/>
<b>Email Dr:</b>{{doctor_email}}
<hr/>
<h3>Informa&ccedil&otildees da Consulta</h3>
<b>Descri&ccedil&atildeo: </b>{{description}}<br/>
<b>Situa&ccedil&atildeo: </b>{{emergency_status}}<br/>
<b>Data de agendamento: </b>{{created_at}}<br/>
</body>
</html>
